h1{
    Color: Red;
    text-align: center;
    background-color: aliceblue;
    /* padding-bottom: 10px; */
    padding-top: 10px;
}

h2{
    Color: White;
    text-align: center;
    background-color: lightcoral;
}